body {
    background: #d4d0cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.container {
    width: 14rem;
    border-radius: 1rem;
    background: #161D24;
    color: #FFFFFF;
    overflow: hidden; 
}

.title {
    font-size: 1rem;
    margin: 0.75rem;
}

.display {
    background-color: #2d3e45;
    text-align: end;
    height: 6rem;
}

.operation {
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    font-size: 1.4rem;
}

.result {
    margin-top: 2rem;
    font-weight: bold;
}

.buttons{
    text-align: center;
    margin: 2rem 0rem;
}

button {
    width: 2.5rem;
    height: 1.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: transparent;
    color: #EBEBEB;
    cursor: pointer;
}

.operator {
    background-color: #EBEBEB;
    color: #161D24;
}

.enter {
    background-color: #ff5934;
}
