body {
    background: #d4d0cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.container {
    width: 14rem;
    border-radius: 1rem;
    background: #161D24;
    color: #FFFFFF;
    overflow: hidden; 
}

.title {
    font-size: 1rem;
    margin: 0.75rem;
}
